
/****** Object:  Table [dbo].[tbl_training_assignments]    Script Date: 03/25/2014 22:35:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_training_assignments]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_training_assignments]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_training_assignments]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_training_assignments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[emp_id] [int] NOT NULL,
	[date_assigned] [datetime] NOT NULL,
	[due_date] [datetime] NULL,
	[completion_status] [int] NULL,
	[created_by] [int] NULL,
	[update_by] [int] NULL,
	[create_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[is_deleted] [bit] NULL,
 CONSTRAINT [PK__tbl_trai__3213E83F2B3F6F97] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
